@{
@ViewData["Title"]
}

<div class="">
  <div class="container">
    <br>
    <div class="row">
      <h5 class="dh right-align">ގެލަރީ</h5>
      <hr>
  @if (ViewBag.gallery != null)
                    {
                       
                            
                      
                    @foreach (dynamic item in ViewBag.gallery)
                    {
                        var xc = item .ImgUrl.Split(',');

                            @for (int i = 0; i < 1; i++)
                            {
                                <div class="col m3 s12 right">
                                <div class="">
                                    <div class="">
                                    <img src="~/gallery/@xc[i]"  class=" responsive-img " style="border-radius: 15px;">
                                   
                                    </div>
                                 
                                    <div class=" col  s12 right-align">
                                    <a href="@Url.Action("GallerySlider","Home",new{id=@item.Title})" class="" style="direction: rtl;font-weight: bold;">@item.Title</a>
                                    </div>
                                </div>
                                </div>
                               
                            }
                            

                        
                    
                     
                    }
                    }

    </div>
    <br>
  </div>
</div>

<script>
  var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });

  // Or with jQuery

  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
</script>