@{
Layout="~/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="dh right-align">
   ވިޔަފާރި ކުރާ ފަރާތް ތަކުގެ ނަން
</h5>
<hr>
<form action="UpdateBussines" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="col m6 s12 input-field">
        <input  name="BussinessName"  type="text">
        <label  class="dh" for="" >ވިޔަފާރި ނަން</label>
    </div>
      <div class="col m6 s12 input-field">
        <input  name="BussinessTyp"  type="text">
        <label  class="dh" for="">ވިޔަފާރޫގެ ބާވަތް</label>
    </div>
      <div class="col m6 s12 input-field">
        <input  name="BussinessAddress"  type="text">
        <label  class="dh" for="">  ވިޔަފާރީ ކުރަމުން ގެނދާ ތަނުގެ އެޑްރެސް</label>
    </div>
      <div class="col m6 s12 input-field">
        <input  name="RoadBusisnessLoc"  type="text">
        <label  class="dh" for="">  ވިޔަފާރީ ކުރަމުން ގެނދާ ޔަން ހުންނަ މަގު </label>
    </div>
       <div class="col m6 s12 input-field">
        <input  name="PermisionGivenBy"  type="text">
        <label  class="dh" for="">  ވިޔަފާރީ ކުރުމަށް ކުރުމަށް ހުއްދަދެއްވި ފާރާތް </label>
    </div>
         <div class="col m6 s12 input-field">
        <input  name="ContactNumber"  type="text">
        <label  class="dh" for=""> ވިޔަފާރީ ކުރާ ފަރާތުގެ ނަމްބަރު </label>
    </div>
</div>
<button class="dh btn">އަޕްލޯޑް</button>

</form>
