@{
Layout="~/Views/Shared/_AdminLayout.cshtml";
}

<h5>
    Bussines Info
</h5>
<hr>
<div class="row">
    <div class="col m6 s12 input-field">
        <input type="text">
        <label for="">name</label>
    </div>
      <div class="col m6 s12 input-field">
        <input type="text">
        <label for="">ވިޔަފާރޫގެ ބާވަތް</label>
    </div>
      <div class="col m6 s12 input-field">
        <input type="text">
        <label for="">  ވިޔަފާރީ ކުރަމުން ގެނދާ ތަނުގެ އެޑްރެސް</label>
    </div>
      <div class="col m6 s12 input-field">
        <input type="text">
        <label for="">  ވިޔަފާރީ ކުރަމުން ގެނދާ ޔަން ހުންނަ މަގު </label>
    </div>
       <div class="col m6 s12 input-field">
        <input type="text">
        <label for="">  ވިޔަފާރީ ކުރުމަށް ކުރުމަށް ހުއްދަދެއްވި ފާރާތް </label>
    </div>
         <div class="col m6 s12 input-field">
        <input type="text">
        <label for=""> ވިޔަފާރީ ކުރާ ފަރާތުގެ ނަމްބަރު </label>
    </div>
</div>