@{ Layout="~/Views/Shared/_AdminLayout.cshtml"; }

<div class="">
  <div class="row">
    <div class="col m9">
      <table>
         <tr ng-repeat="x in busiData">
             <td >
                 <a href="GetBussinessDat/{{x.id}}">
                 {{x.bussinessName}}
                     
                 </a>
             </td>
             <td>
                {{x.bussinessAddress}}
             </td>
             <td>
                 {{x.bussinessTyp}}
             </td>
             <td>
                 {{x.contactNumber}}
             </td>
             <td>
                 <button id={{x.id}} ng-click="DeleteData($event)">Delete</button>
             </td>
         </tr>
      </table>
     
      
    </div>
  </div>
</div>
