@{ Layout="~/Views/Shared/_AdminLayout.cshtml"; }

<div class="">
  <div class="row">
    <div class="col m9">
      <table>
         <tr ng-repeat="x in busiData">
             <td >
                 {{x.id}}
             </td>
             
         </tr>
      </table>
     
      
    </div>
  </div>
</div>
