<div class="">
<div class="container">
    <br>
    <h5 class="dh  right-align" style="font-weight: bold;">އިދާރީ އޮނިގަނޑު</h5>
    <hr>
    <div class="row  ">
        <div class="col m8 pull-m2 s12 right">
            <img src="~/images/FullSizeRender(23).jpg" alt="" srcset="" class=" materialboxed responsive-img" >
                
           <br>      

            
         
        </div>
    </div>

</div>
</div>