<div class="container center-align">
    <div class="row">

        <br><br>



        @foreach (var item in ViewBag.Gallery)
        {
        <h4 class="dh newsHeading " style="direction: rtl;">@item.Title</h4>
        <hr>
        var x = item .ImgUrl.Split(',');


        @foreach (var s in x)
        {
        <div class="col m3 s12" style="padding-bottom: 10px;">


            @if (s != null)
            {


            <img src="~/gallery/@s" class="materialboxed responsive-img " style="width: 337px;height: 206px;" alt="">



            }

        </div>


        }




        }



    </div>

</div>