<div class="">
    <div class="container">
        <br>
        <h5 class="dh right-align">ހިންގާ ޤަވައިދު</h5>
        <hr>
        <div class="row">
            <div class="col s12 right">
                <ul class=" right-align">
                    <li></li>
                </ul>

            </div>
        </div>
    </div>
</div>