<div class="container">
<div class="container">
    <br>
    <!-- <h5 class="dh right-align " style=" ">   މާމިގިލީގައި ހުންނަ މުހިންމު ތަންތަނުގެ މަޢުލޫމާތު</h5>
            <hr> -->
    <br>
    <div class="row">
        <div class="col  m6 s12 dh right">
          <div class="right-align">
                <h5>
                    ފެރީގެ ޙިދުމަތް
                </h5>
                <hr>
                <ul style="font-size: 1.4em;">
                    <li class="dh" style="direction: rtl;">
                        ފެރީގެ ނަން :
                    </li>
                    <li class="dh" style="direction: rtl;">
                        ފޯން ނަމްބަރު :
                    </li>
                    <li class="dh" style="direction: rtl;">
                        އަގު: އޭސީ =/150 ރުފިޔާ ނޮން އޭސީ =/100 ރުފިޔާ
                    </li>
                    <li class="dh" style="direction: rtl;">
                        މާލެ/މާމިގިލި : ހޯމަ، ބުރާސްފަތި ދުވަހުގެރޭ 23:00
                    </li>
                    <li class="dh" style="direction: rtl;">
                        މާމިގިލި / މާލެ : ހޮނިހިރު، ބުދަ ދުވަހުގެރޭ 22:00 </li>
                </ul>
                <h5>
                    ސުޕީޑް ލޯންޗްގެ ޙިދުމަތް
                </h5>
                <hr>
                <ul style="font-size: 1.4em;">
                    <li class="dh" style="direction: rtl;">
                        ފެރީގެ ނަން :
                    </li>
                    <li class="dh" style="direction: rtl;">
                        ފޯން ނަމްބަރު :
                    </li>
                    <li class="dh" style="direction: rtl;">
                        އަގު: =/350 ރުފިޔާ
                    </li>

                </ul>
                <h5>
                    ވައިގެ މަގުން </h5 >
                <hr>
                <ul style="font-size: 1.4em;">
                    <li class="dh" style="direction: rtl;">
                        އެއަރލައިންގެ ނަން : ފުލައިމީ </li>
                    <li class="dh" style="direction: rtl;">
                        ޓިކެޓްގެ އަގު =/600 ރުފިޔާ
                    </li>
                    <li class="dh" style="direction: rtl;">
                        ރިޒަވޭޝަން ނަމްބަރު : 3013000 </li>

                </ul> 
            </div> 
        </div>
        
         
      
    </div>

</div>
</div>