<div class="">
<div class="container">
    <br>
    <h5 class="dh right-align " style=" ">ގެސްޓް ހައުސް ތަކުގެ މަޢުލޫމާތު</h5>
            <hr>
    <br>
    <div class="row">
        <div class="col s12 dh right-align">
             <ul>
                   @foreach (var item in  ViewBag.GH)
            {

                      <div class="col m4 s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/GuestHousePic/@item.ImgUrl1" class="responsive-img" style="widows: 120px;height:225px;">

                        </div>
                        <div class="card-content">
                                         <a href="@Url.Action("GuestHouseInfo","Link",new{id=@item.Id})" class="news-parag ">
                        @item.Title
                    </a>
                            
                        </div>
                       
                    </div>
                </div>

                  
            }
         </ul>
        </div>
        
         
      
    </div>

</div>
</div>