.dh{
    font-family: Faruma;

    /* line-height: 1.5; */
    
}
body{
    /* margin-top: 12px; */
}
.dropdown-menu { min-width: 500px }

.background {
    background-color: #98FB98;
}

@font-face{font-family:Faruma;src:url("Faruma.otf")}

.parallax-container {
    height: 400px;
  }

  a {
    color: #292e2c;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

nav ul a {
   
    font-size: 19px;
    font-weight: bold;
   
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #101d1c;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}


.long {
    display: block;
    width: 190.266px;
    left: 564.75px;
    top: 0px;
    height: 451px;
    transform-origin: 0px 0px 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .dhsub {
    font-family: Faruma;
    font-size: 150%;
    line-height: 1.5;
}
.sidenav li>a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 17px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
.container {
    width: 90%;
}


.newsHeading {
    line-height: 1.5;
    font-size: 2.5em;
    font-weight: bolder;
}

.news-parag {
    text-align: justify;
    direction: rtl;
    font-size: 1.5em;
    /* line-height: 5px; */
}
.news-parag-sub {
    text-align: justify;
    direction: rtl;
    font-size: 1.3em;
    line-height: 28px;
}
.collection .collection-item {
    background-color: #fff;
    line-height: 2.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
    }

    .top-nav-head {
       background-image: url("../images/s-l300.jpg");
      image-rendering: crisp-edges;
    }

    .card .card-action:last-child {
        min-height: 5.2em;
        border-radius: 0 0 2px 2px;
    }
    .card .card-image {
        position: relative;
        object-fit: cover;
    }
    .card .card-image img {
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 13em;
        width: 100%;
    }

    .container {
        position: relative;
      }
      
      /* Bottom right text */
      .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      }